<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555886846250-ne3a5l17bf9m2oopj8p09mvcd0bk8mfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555886846250-ne3a5l17bf9m2oopj8p09mvcd0bk8mfe</string>
	<key>API_KEY</key>
	<string>AIzaSyChRdghcHn8jv6yZCCTcmZnFmDbpcrdhMw</string>
	<key>GCM_SENDER_ID</key>
	<string>555886846250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgelabz.CustomeNoteApp1</string>
	<key>PROJECT_ID</key>
	<string>firdbexample-e1dcb</string>
	<key>STORAGE_BUCKET</key>
	<string>firdbexample-e1dcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555886846250:ios:b03645da939a0114313e53</string>
</dict>
</plist>